/.idea
/.ipynb_checkpoints
/.vscode
/Bigdata
/data
/day1
/day2
/day3
/day4
/day5
/day6
/day7
/day8
/day9
/hello python.ipynb
/mypython
/perlicana.csv
/sqlpython
/sqlpython_01
/Untitled.ipynb
/Untitled1.ipynb